body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
body * {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-decoration: none;
  color: darkred;
  cursor: pointer;
}
a:hover {
  color: #08036c;
}
a.link-fix {
  color: inherit;
  text-decoration: none;
}
.button,
button,
input[type="submit"] {
  background: darkred;
  padding: 7.5px 15px;
  color: white;
  text-decoration: none;
  border: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 15px;
}
.button:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #08036c;
}
body {
  font-family: Verdana, Geneva, sans-serif;
}
.flexbox {
  display: -webkit-flex;
  display: flex;
}
.mid-content {
  background-color: lightblue;
  border-radius: 10px;
  border: 5px solid lightgrey;
  width: 95%;
  margin: 40px auto;
  padding: 20px 5%;
}
.section {
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 3%;
}
table {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
}
table thead {
  background-color: darkseagreen;
}
table thead tr {
  cursor: default;
}
table thead tr:hover {
  background-color: darkseagreen;
}
table tr {
  cursor: pointer;
}
table tr:hover {
  background-color: #b6ddea;
}
table td {
  padding: 5px;
  border: 1px solid lightgrey;
}
#submit-cat p {
  margin: 15px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
#submit-cat p label {
  padding-right: 10px;
}
#submit-cat p input,
#submit-cat p textarea {
  padding: 5px;
  width: 40%;
}
#submit-cat p input[type="submit"],
#submit-cat p textarea[type="submit"] {
  width: auto;
  margin-top: 20px;
  padding: 7.5px 15px;
}
#single-cat {
  display: none;
}
#single-cat .stats {
  width: 30%;
}
#single-cat .stats span {
  font-weight: normal;
  display: inline-block;
}
#single-cat .additional-info {
  width: 30%;
  padding-left: 5%;
}
#single-cat .additional-info #details-description h4 {
  margin-bottom: 5px;
}
#single-cat .additional-info #details-description p {
  margin: 0;
}
#single-cat #details-image {
  width: 40%;
  border: 1px solid black;
}
